# Virtual Environment
venv/
.env

# Python caching
__pycache__/
*.pyc

# Heavy ML Artifacts / Data files
data/
artifacts/*.pkl
.DS_Store

# Generated outputs
outputs/*.parquet
outputs/plots/*.png

# Trained models
outputs/models/*.joblib
outputs/models/*.pt

# Future model artifacts
*.pkl
*.pickle
*.h5
*.onnx

# Jupyter
.ipynb_checkpoints/

# VS Code settings (optional)
.vscode/

# Coverage/testing
.coverage
.pytest_cache/